@function get-values($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

$colors: (
    global: (
        'white': #ffffff,
        'green': #00d9a6,
        'black': black
    ),
    bg: (
        'blue': #527ceb,
        'whitesmoke': #f9f9f9,
        'grey-1': #bbbbbb,
        'grey-2': rgb(60, 60, 60),
        'grey-3': rgb(33, 33, 33)
    ),
    text: (
        'lightblue': #1bb0ce,
        'whitesmoke': #f9f9f9,
        'grey-1': #888888,
        'grey-2': #3d3d3d,
        'grey-3': #202020
    ),
    borders: (
        'grey-1': #dedede,
        'grey-2': #bbbbbb
    ),
    gradients: (
        'green': linear-gradient(90deg, rgba(136,228,45,1) 0%, rgba(0,217,166,1) 100%),
        'greenReverse': linear-gradient(270deg, rgba(136,228,45,1) 0%, rgba(0,217,166,1) 100%),
        'black': linear-gradient(90deg, rgba(42,42,42,1) 40%, rgba(0,0,0,1) 100%)
    )
);

// creare mappa per i font size

$spacing: 10px;